# Configurações do ClickHouse
CLICKHOUSE_URL=https://seu-servidor.clickhouse.com:8123
CLICKHOUSE_DATABASE=sua_database
CLICKHOUSE_USER=seu_usuario
CLICKHOUSE_PASSWORD=sua_senha

# Configurações do Plausible (apenas o token é necessário)
PLAUSIBLE_API_TOKEN=seu_token_do_plausible

# Configurações do Discord (para alertas)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
MENTION_IDS=<@123456789>
